.created-by {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.created-by__link {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #b4bf04;
    padding: 6px 12px;
    transition: color 128ms linear;
}

.created-by__link::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(180, 191, 4, 0.32);
    transform: skew(30deg);
    transition: width 256ms linear;
}

.created-by__link:hover::before {
    width: 100%;
}

.created-by__link:hover {
    color: #798d21;
}