.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 12px 24px;
}

.category-nav {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.article {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
}

.category-nav__title,
.article__title {
    font-size: 22px;
    color: #000000;
    margin-bottom: 16px;
}


.article__section {
    width: 100%;
    height: auto;
}

.article__section:not(:last-of-type) {
    margin-bottom: 32px;
}

.card__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}