.cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cart__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.cart__info>i {
    color: #999999;
    margin-right: 8px;
}

.cart__item-count {
    font-size: 14px;
    font-weight: bold;
}

.cart__item-count::after {
    content: "\00a0/\00a0";
}

.cart__item-price {
    font-size: 14px;
    font-weight: 400;
}