.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__input-block {
    width: 384px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__input {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px;
    transition: background-color 128ms linear;
}

.search__input:focus {
    background-color: transparent;
}

.search__button-block {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search__button {
    background-color: #152732;
    border: 1px solid #152732;
    color: #ffffff;
    padding: 10px 36px;
    transition: background-color 128ms linear, border 128ms linear;
    cursor: pointer;
}

.search__button:hover {
    background-color: rgb(40, 80, 100);
    border: 1px solid rgb(40, 80, 100);
}